html, body { /*sets the entire website with the height of 100%*/
    height: 100%;
    margin: 0;
}

body { /*displays the background image of the website*/
    background-image: url("pictures/Valve Background.avif");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.main-content { /*creates a dark layer for the website background*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    background-attachment: 100%;
}

header { /*Decorates the header, centering it with a background color set to black*/
    width: 100%;
    text-align: center;
    background-color: #2f2d2b;
    padding: 10px;
    margin: -20px;
}

nav { /*Decorates the navigation and aligns them in one line*/
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2f2d2b;
    color: #f44e44;
    margin-top: 10px;
    padding-bottom: 20px;
}

nav a { /*Changes the font size, color and gaps between the navigation texts*/
    text-decoration: none;
    color: #f44e44;
    font-size: 20px;
    margin-right: 40px;
}

nav a:hover { /*adds effect to navigation when hovered*/
    color: white;
    transition: ease 0.3s;
}

.container { /*creates a padding for the content*/
   padding: 30px;
}

.container h3{ /*designes the header 3 of the website*/
    font-size: xx-large;
    color: #f44e44;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container p { /*designes the paragraph of the website*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

figure { /*displays images to the center*/
    text-align: center;
}

figcaption { /*Decorates the figcaptions*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

footer {/*designs the footer of the web page*/
    background-color: #2f2d2b;
    text-align: center;
    color: white;
    font-size: 15px;
    margin: 0px;
    padding: 20px 0;
    font-weight: normal;
} 

.video-container { /*aligns the youtube video to the center*/
    text-align: center;
}

@media (max-width: 768px) {
   nav {
        align-items: center;
    }

    nav a {
        margin: 10px;
        font-size: 18px;
    }

    .topsellers1, .topsellers2 {
        flex-direction: column;
    }

    .container p {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 auto;
    }

    .container img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }

    .container iframe {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 18px;
        padding: 5px;
    }

    .container h3 {
        font-size: large;
    }

    .container p {
        font-size: medium;
    }

    footer { 
        font-size: 13px;
    }
}