#wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: lightgray;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

body {
    background-image: url("dark wood background.jpg");
    background-size: cover;
}

header {
    background-color: red;
    color: black;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 0px;
    padding-right: auto;
}

header h1 {
    font-size: xx-large;
}

h3 {
    text-align: center;
    font-size: large;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 50px;
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.container button {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: red;
    text-align: center;
    font-size: small;
    margin-top: 70px;
    margin-bottom: -15px;
}

.button1:hover {
    background-color: green;
    color: white;
}

.button2:hover {
    background-color: green;
    color: white;
}
